MEMORY_MIN=1G
MEMORY_MAX=2G
MINECRAFT_SERVER_URL=https://launcher.mojang.com/v1/objects/0f3e7c5b8d6a2e4f9b1c5e3f8c9e2a1b2c3d4e5f/server.jar
EULA=false

MAX_PLAYERS=15
DIFFICULTY=hard
GAMEMODE=survival
PVP=true
ONLINE_MODE=true
VIEW_DISTANCE=10